@import url('./styles/globals.css');
@import url('./styles/header.css');
@import url('./styles/home.css');
@import url('./styles/sobre.css');
@import url('./styles/stack.css');
@import url('./styles/projetos.css');
@import url('./styles/contato.css');
@import url('./styles/footer.css');
@import url('./styles/media.css');
