@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Federant&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--claro);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #618E69;        
  --secundaria: #9BE564;      
  --acento: #86C28B;          
  --realce: #6DA67A;     

  --escuro: #203E23;          
  --maisEscuro: #001600;      
  --profundo: #27081D;       

  --claro: #E6F1E3;           
  --medioClaro: #D2E7AA;      
  --cinzaVerde: #859987;      
  --cinzaEscuro: #4A4857;     

  --vidro: rgba(255, 255, 255, 0.08); 
  --vidro-escuro: rgba(0, 0, 0, 0.3); 
  --sombra: rgba(0, 0, 0, 0.25);     

  --gradiente: linear-gradient(135deg, #001600 0%, #203E23 50%, #416646 100%);
}

body {
  background: var(--gradiente);
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Federant', serif;
  font-weight: 400;
}

.navegacao {
  position: fixed;
  top: 0;
  background-color: rgba(17, 26, 19, 0.5);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.navegacao li:hover {
  transform: translateY(-2px) scale(1.03);
  transition: 0.3s ease;
}

.menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  justify-content: center;

  a {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
    color: #71de35;
  }

  a::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  }

  a:hover::after {
    width: 100%;
    transition: 0.5s ease;
  }
}

.decor{
  position: relative;
  overflow: hidden;
  * {
    position: relative;
    z-index: 1;
  }
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;  

  img {
    width: 350px;
    height: auto;
    box-shadow: 0 0 20px rgba(30, 165, 45, 0.4);
    border-radius: 20px;
    border-top-right-radius: 80px;
    animation: floating 5s ease-in-out infinite;
    border: 2px solid var(--vidro);
  }

  div {
    align-items: center;
    justify-items: center;
    margin-left: 4rem;
  }

  h1 {
    font-size: 4rem;
    color: var(--secundaria);
    font-weight: bold;
    margin: 10px;

    font-family: 'Federant', serif;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    color: var(--claro);
    margin: 0 10px;
  }
}

.sobre {
  padding: 6rem 2rem;
  .sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--secundaria);
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
  }

  p {
    font-family: 'Google Sans Code', monospace;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
  }
}

.habilidades {
  padding: 6rem 2rem;

  .habilidades-caixa {
    max-width: 800px;
    padding: 2rem 0;
    margin: 0 auto;
  }

  .habilidades-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    overflow: hidden;
    align-items: center;
    justify-items: center;

    img {
      height: 80px;
      width: 80px;
      object-fit: cover;
      border-radius: 100%;
      margin: 5px;
      border: 3px solid var(--vidro);
    }

    img:hover {
      box-shadow: 0 0 20px rgba(30, 165, 45, 0.2);
      transform: translateY(-5px) scale(1.03);
      transition: all 0.5s ease;
      border: 3px solid var(--secundaria);
    }
  }
}

.projetos {
  padding: 6rem 2rem;

  a {
    text-decoration: none;
  }

  .projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    .projetos-item {
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(5px);
      border: 1px solid var(--vidro);
      overflow: hidden;
      cursor: pointer;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .items-textos {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;

        h3 {
          color: rgba(226, 232, 240, 0.5);
          font-size: 1.2rem;
          line-height: 1.25rem;
          font-family: 'Federant', serif;
          font-weight: 400;
        }
        p {
          margin-bottom: 20px;
        }

        button {
          color: var(--claro);
          background: linear-gradient(
            45deg,
            var(--primaria),
            var(--secundaria)
          );
          padding: 1rem 3rem;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-weight: bold;
          align-self: center;
        }

        button:hover {
          box-shadow: 0 0 20px rgba(30, 165, 45, 0.2);
        }
      }
    }

    .projetos-item:hover {
      box-shadow: 0 0 20px rgba(30, 165, 45, 0.2);
      transform: translateY(-10px) scale(1.03);
      transition: all 0.5s ease;
    }
  }
}

.contatos {
  padding: 6rem 2rem;

  form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(vidro);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    padding: 2rem;

    .grupo-form {
      margin-bottom: 1.5rem;

      .input-form {
        font-size: 1.2rem;
        width: 100%;
        padding: 0.5rem;
        background: rgba(255, 255, 255, 0.06);
        border: 1px solid var(--vidro);
        border-radius: 5px;
        color: var(--claro);
        outline: none;
      }

      .input-form:focus {
        border: 1px solid var(--secundaria);
      }
    }

    button {
      color: var(--claro);
      background: linear-gradient(45deg, var(--primaria), var(--secundaria));
      padding: 1rem 2rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2rem;
      width: 100%;
      transition: all 0.5s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin-right: 10px;
      }

      img {
        width: 20px;
        height: auto;
      }
    }

    button:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 20px rgba(30, 165, 45, 0.2);
    }
  }
}

footer {
  background-color: rgba(17, 26, 19, 0.5);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--claro);

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  span {
    color: var(--secundaria);
  }

  a {
    cursor: pointer;
  }
}

/* keyframes */
@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

/* Decorações */
h3::before {
  content: '';
  display: inline-block;
  background: var(--secundaria);
  width: 4px;
  height: 12px;
  margin-right: 5px;
  transition: width 0.2s;
}

.decor::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('./img/decor-capa-2.svg') center/cover no-repeat;
  opacity: 0.2;
  z-index: 0;
}

.cabecalho::before {
  content: '';
  display: inline-block;
  background: var(--secundaria);
  width: 4px;
  height: 320px;
  margin-right: 0px;
  transition: width 0.2s;
}

.sobre-caixa {
  background: url('./img/decor-sobre.svg') no-repeat bottom 10px left 10px;
}

/* Medias Query*/
@media (width <= 900px) {
  .cabecalho {
    flex-direction: column;
    img {
      width: 250px;
      border-radius: 100%;
    }

    div {
      margin-left: 0;
    }
  }

  .cabecalho::before {
    display: none;
  }

  .decor::before {
  background: url('./img/decor-capa.svg') center/cover no-repeat;
}
}

@media (width <= 450px) {
  .menu {
    flex-wrap: wrap;
  }
  .cabecalho {
    h1 {
      font-size: 3rem;
    }

    flex-direction: column;
    img {
      width: 200px;
    }
  }

  .sobre {
    p {
      font-size: 1rem;
    }
  }

  .habilidades {
    .habilidades-itens {
      gap: 10px;
      img {
        height: 80px;
        width: 80px;
        opacity: 1;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media (width <= 366px) {
  h2 {
    font-size: 2rem;
  }

  .Habilidades-link {
    display: none;
  }

  .cabecalho {
    h1 {
      font-size: 2.5rem;
    }

    flex-direction: column;
    img {
      width: 200px;
    }
  }

  .habilidades {
    display: none;
  }
}


