.contact {
  background-color: var(--bg-dark);
  min-height: 80vh;
}

.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 5px;
}

.contact-form {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-family);
  transition: border-color var(--transition-speed);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.contact-form textarea {
  resize: vertical;
}

.social-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  color: var(--light-color);
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
}

.social-btn.linkedin {
  background-color: #0077b5;
}
.social-btn.github {
  background-color: #333;
}
.social-btn.email {
  background-color: var(--primary-color);
}

.social-btn:hover {
  transform: scale(1.05);
}