header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 2px 10px var(--shadow-color);
  z-index: 1000;
  transition: var(--transition);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.logo-container img {
  border: 2px solid var(--primary-color);
  padding: 2px;
  border-radius: 5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  margin-left: 0;
}

.nav-link {
  font-weight: 500;
  transition: var(--transition);
  position: relative;
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}
