#projects {
  background-color: var(--gray-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px var(--shadow-color);
  transition: var(--transition);
  border: 1px solid var(--border-color);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px var(--shadow-color);
}

.project-image {
  height: 200px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  font-size: 3rem;
}

.project-content {
  padding: 20px;
}

.project-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-color);
}

.project-description {
  margin-bottom: 20px;
  color: var(--text-color);
  opacity: 0.8;
}

.img-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
